
header{
    background-color: gray;
    margin: 0;
    padding: 0%;
    height: 50vh;
}

.header{
    border: 0;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 1.5rem;
}

.icons{
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    padding-right: 150px;
}

.icons img{
    height: 25px;
    border-radius: 100%;
}

.icons p{
    font-size: 20px;
    margin: 0;

}

.icons span{
    display: flex;
}

.container{
    border: 0;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.icon{
    display: flex;
    margin-top: 100px;
}

.icon p{
    margin: 0;
}

.container img{
    width: 100%;
}

.container span p{
    text-align: justify;
}